In [11]:
import requests
import pandas as pd
import gmaps
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [39]:
def get_results(start_index, cuisines):
    headers = {
        'Accept': 'application/json',
        'user-key': '18ac4342735c2d916c0c81f9cf6f407b',
    }

    params = (
        ('entity_id', '305'),
        ('entity_type', 'city'),
        ('start', start_index ),
        ('cuisines', cuisines)
    )
    
    url = 'https://developers.zomato.com/api/v2.1/search'
    response = requests.get(url, headers=headers, params=params)
    return response.json()

all_results = []
cuisines_list = [1,177,168,30,227]

for cuisine in cuisines_list:
    for x in range(0, 100, 20):
        try:
            temp_result = get_results(x, cuisine)
            all_results.append(temp_result)
        
        except Exception as e:
            print(e, x)

In [40]:
for_df = []

for row in all_results:
    for restaurant in row.get('restaurants'):
        for_df.append(restaurant.get('restaurant'))
        
    
df = pd.DataFrame.from_records(for_df)

df['res_id'] = df['R'].map(lambda x: x.get('res_id'))
df['lat'] = df['location'].map(lambda x: x.get('latitude'))
df['lng'] = df['location'].map(lambda x: x.get('longitude'))
df['aggregate_rating'] = df['user_rating'].map(lambda x: x.get('aggregate_rating'))
df['rating_text'] = df['user_rating'].map(lambda x: x.get('rating_text'))
df['votes'] = df['user_rating'].map(lambda x: x.get('votes'))

keep = ['res_id', 'name', 'lat','lng','cuisines','aggregate_rating','rating_text','votes']
full_df = df[keep].copy()

In [41]:
full_df.head()

,res_id,name,lat,lng,cuisines,aggregate_rating,rating_text,votes
0,16971711,Snooze,39.7556527778,-104.9889972222,American,4.7,Excellent,642
1,16971985,Steuben's Food Service,39.7433166667,-104.9804694444,American,4.7,Excellent,689
2,16973602,Root Down,39.7631694444,-105.0056138889,"American, Tapas",4.8,Excellent,480
3,16973012,Wynkoop,39.7533500000,-104.9985300000,"American, Burger, Bar Food",4.4,Very Good,420
4,16974402,Euclid Hall,39.7477200000,-104.9999900000,"Bar Food, American",4.5,Excellent,382

In [ ]:
# newdf.dropna(inplace = True) 
  
# # new data frame with split value columns 
# cuisines_df = newdf["cuisines"].str.split(" ", n = 3, expand = True) 
  
# # making seperate first name column from new data frame 
# newdf["First Cuisine"]= cuisines_df[0] 
  
# # making seperate last name column from new data frame 
# newdf["Second Cuisine"]= cuisines_df[1] 
# newdf["Third Cuisine"]= cuisines_df[2] 
# newdf["Fourth Cuisine"]= cuisines_df[3] 
  
# # Dropping old Name columns 
# newdf.drop(columns =["cuisines"], inplace = True) 

# # df display 
# cuisines_df

In [43]:
#JH updates
full_df.dropna(inplace = True)
  
# new data frame with split value columns 
cuisines_df = full_df["cuisines"].str.split(" ", n = 3, expand = True) 

cuisines_df.head()
# # making seperate first name column from new data frame 
full_df["First Cuisine"]= cuisines_df[0] 
full_df["Second Cuisine"]= cuisines_df[1] 
full_df["Third Cuisine"]= cuisines_df[2] 
full_df["Fourth Cuisine"]= cuisines_df[3] 

# # df display 
full_df.head()

,res_id,name,lat,lng,cuisines,aggregate_rating,rating_text,votes,First Cuisine,Second Cuisine,Third Cuisine,Fourth Cuisine
0,16971711,Snooze,39.7556527778,-104.9889972222,American,4.7,Excellent,642,American,None,None,None
1,16971985,Steuben's Food Service,39.7433166667,-104.9804694444,American,4.7,Excellent,689,American,None,None,None
2,16973602,Root Down,39.7631694444,-105.0056138889,"American, Tapas",4.8,Excellent,480,"American,",Tapas,None,None
3,16973012,Wynkoop,39.7533500000,-104.9985300000,"American, Burger, Bar Food",4.4,Very Good,420,"American,","Burger,",Bar,Food
4,16974402,Euclid Hall,39.7477200000,-104.9999900000,"Bar Food, American",4.5,Excellent,382,Bar,"Food,",American,None

In [12]:
#heatmap

gkey = 'AIzaSyDjLoAxx0rVVJFrTigD_ysvPnu9l-9z1nA'
gmaps.configure(api_key=gkey)

locations_df = full_df[["lat", "lng"]].copy()
locations_df['lat'] = locations_df['lat'].astype(float)
locations_df['lng'] = locations_df['lng'].astype(float)

def create_tuple(df_row):
    return (df_row.lat,df_row.lng)

locations_df['pair'] = locations_df.apply(create_tuple,axis=1)
rating = full_df["aggregate_rating"].astype(float)

heat_layer = gmaps.heatmap_layer(locations_df.pair.tolist(), weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=.001)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig

AttributeError: module 'gmaps' has no attribute 'configure'

In [13]:
#cuisines API

headers = {
'Accept': 'application/json',
'user-key': '18ac4342735c2d916c0c81f9cf6f407b',
}

params = (
('city_id', '305'),
# ('entity_type', 'city'),

('start', 0),
('cuisines', 1)
)
    
url = 'https://developers.zomato.com/api/v2.1/cuisines'
response = requests.get(url, headers=headers, params=params)

response.json()

{'cuisines': [{'cuisine': {'cuisine_id': 6, 'cuisine_name': 'Afghani'}},
  {'cuisine': {'cuisine_id': 152, 'cuisine_name': 'African'}},
  {'cuisine': {'cuisine_id': 1, 'cuisine_name': 'American'}},
  {'cuisine': {'cuisine_id': 151, 'cuisine_name': 'Argentine'}},
  {'cuisine': {'cuisine_id': 175, 'cuisine_name': 'Armenian'}},
  {'cuisine': {'cuisine_id': 3, 'cuisine_name': 'Asian'}},
  {'cuisine': {'cuisine_id': 131, 'cuisine_name': 'Australian'}},
  {'cuisine': {'cuisine_id': 193, 'cuisine_name': 'BBQ'}},
  {'cuisine': {'cuisine_id': 955, 'cuisine_name': 'Bagels'}},
  {'cuisine': {'cuisine_id': 5, 'cuisine_name': 'Bakery'}},
  {'cuisine': {'cuisine_id': 227, 'cuisine_name': 'Bar Food'}},
  {'cuisine': {'cuisine_id': 132, 'cuisine_name': 'Belgian'}},
  {'cuisine': {'cuisine_id': 270, 'cuisine_name': 'Beverages'}},
  {'cuisine': {'cuisine_id': 159, 'cuisine_name': 'Brazilian'}},
  {'cuisine': {'cuisine_id': 182, 'cuisine_name': 'Breakfast'}},
  {'cuisine': {'cuisine_id': 133, 'cuisine_name': 'British'}},
  {'cuisine': {'cuisine_id': 247, 'cuisine_name': 'Bubble Tea'}},
  {'cuisine': {'cuisine_id': 168, 'cuisine_name': 'Burger'}},
  {'cuisine': {'cuisine_id': 22, 'cuisine_name': 'Burmese'}},
  {'cuisine': {'cuisine_id': 30, 'cuisine_name': 'Cafe'}},
  {'cuisine': {'cuisine_id': 491, 'cuisine_name': 'Cajun'}},
  {'cuisine': {'cuisine_id': 956, 'cuisine_name': 'California'}},
  {'cuisine': {'cuisine_id': 381, 'cuisine_name': 'Canadian'}},
  {'cuisine': {'cuisine_id': 121, 'cuisine_name': 'Cantonese'}},
  {'cuisine': {'cuisine_id': 158, 'cuisine_name': 'Caribbean'}},
  {'cuisine': {'cuisine_id': 25, 'cuisine_name': 'Chinese'}},
  {'cuisine': {'cuisine_id': 161, 'cuisine_name': 'Coffee and Tea'}},
  {'cuisine': {'cuisine_id': 287, 'cuisine_name': 'Colombian'}},
  {'cuisine': {'cuisine_id': 928, 'cuisine_name': 'Creole'}},
  {'cuisine': {'cuisine_id': 881, 'cuisine_name': 'Crepes'}},
  {'cuisine': {'cuisine_id': 153, 'cuisine_name': 'Cuban'}},
  {'cuisine': {'cuisine_id': 192, 'cuisine_name': 'Deli'}},
  {'cuisine': {'cuisine_id': 100, 'cuisine_name': 'Desserts'}},
  {'cuisine': {'cuisine_id': 411, 'cuisine_name': 'Dim Sum'}},
  {'cuisine': {'cuisine_id': 541, 'cuisine_name': 'Diner'}},
  {'cuisine': {'cuisine_id': 959, 'cuisine_name': 'Donuts'}},
  {'cuisine': {'cuisine_id': 268, 'cuisine_name': 'Drinks Only'}},
  {'cuisine': {'cuisine_id': 651, 'cuisine_name': 'Eastern European'}},
  {'cuisine': {'cuisine_id': 149, 'cuisine_name': 'Ethiopian'}},
  {'cuisine': {'cuisine_id': 38, 'cuisine_name': 'European'}},
  {'cuisine': {'cuisine_id': 40, 'cuisine_name': 'Fast Food'}},
  {'cuisine': {'cuisine_id': 112, 'cuisine_name': 'Filipino'}},
  {'cuisine': {'cuisine_id': 45, 'cuisine_name': 'French'}},
  {'cuisine': {'cuisine_id': 501, 'cuisine_name': 'Frozen Yogurt'}},
  {'cuisine': {'cuisine_id': 274, 'cuisine_name': 'Fusion'}},
  {'cuisine': {'cuisine_id': 134, 'cuisine_name': 'German'}},
  {'cuisine': {'cuisine_id': 156, 'cuisine_name': 'Greek'}},
  {'cuisine': {'cuisine_id': 181, 'cuisine_name': 'Grill'}},
  {'cuisine': {'cuisine_id': 521, 'cuisine_name': 'Hawaiian'}},
  {'cuisine': {'cuisine_id': 143, 'cuisine_name': 'Healthy Food'}},
  {'cuisine': {'cuisine_id': 233, 'cuisine_name': 'Ice Cream'}},
  {'cuisine': {'cuisine_id': 148, 'cuisine_name': 'Indian'}},
  {'cuisine': {'cuisine_id': 154, 'cuisine_name': 'International'}},
  {'cuisine': {'cuisine_id': 140, 'cuisine_name': 'Iranian'}},
  {'cuisine': {'cuisine_id': 135, 'cuisine_name': 'Irish'}},
  {'cuisine': {'cuisine_id': 55, 'cuisine_name': 'Italian'}},
  {'cuisine': {'cuisine_id': 207, 'cuisine_name': 'Jamaican'}},
  {'cuisine': {'cuisine_id': 60, 'cuisine_name': 'Japanese'}},
  {'cuisine': {'cuisine_id': 164, 'cuisine_name': 'Juices'}},
  {'cuisine': {'cuisine_id': 178, 'cuisine_name': 'Kebab'}},
  {'cuisine': {'cuisine_id': 67, 'cuisine_name': 'Korean'}},
  {'cuisine': {'cuisine_id': 136, 'cuisine_name': 'Latin American'}},
  {'cuisine': {'cuisine_id': 66, 'cuisine_name': 'Lebanese'}},
  {'cuisine': {'cuisine_id': 69, 'cuisine_name': 'Malaysian'}},
  {'cuisine': {'cuisine_id': 70, 'cuisine_name': 'Mediterranean'}},
  {'cuisine': {'cuisine_id': 73, 'cuisine_name': 'Mexican'}},
  {'cuisine': {'cuisine_id': 137, 'cuisine_name': 'Middle Eastern'}},
  {'cuisine': {'cuisine_id': 74, 'cuisine_name': 'Mongolian'}},
  {'cuisine': {'cuisine_id': 147, 'cuisine_name': 'Moroccan'}},
  {'cuisine': {'cuisine_id': 117, 'cuisine_name': 'Nepalese'}},
  {'cuisine': {'cuisine_id': 996, 'cuisine_name': 'New American'}},
  {'cuisine': {'cuisine_id': 995, 'cuisine_name': 'New Mexican'}},
  {'cuisine': {'cuisine_id': 961, 'cuisine_name': 'New Zealand'}},
  {'cuisine': {'cuisine_id': 139, 'cuisine_name': 'Pakistani'}},
  {'cuisine': {'cuisine_id': 183, 'cuisine_name': 'Patisserie'}},
  {'cuisine': {'cuisine_id': 162, 'cuisine_name': 'Peruvian'}},
  {'cuisine': {'cuisine_id': 82, 'cuisine_name': 'Pizza'}},
  {'cuisine': {'cuisine_id': 219, 'cuisine_name': 'Polish'}},
  {'cuisine': {'cuisine_id': 983, 'cuisine_name': 'Pub Food'}},
  {'cuisine': {'cuisine_id': 320, 'cuisine_name': 'Ramen'}},
  {'cuisine': {'cuisine_id': 84, 'cuisine_name': 'Russian'}},
  {'cuisine': {'cuisine_id': 998, 'cuisine_name': 'Salad'}},
  {'cuisine': {'cuisine_id': 601, 'cuisine_name': 'Salvadorean'}},
  {'cuisine': {'cuisine_id': 304, 'cuisine_name': 'Sandwich'}},
  {'cuisine': {'cuisine_id': 83, 'cuisine_name': 'Seafood'}},
  {'cuisine': {'cuisine_id': 611, 'cuisine_name': 'Somali'}},
  {'cuisine': {'cuisine_id': 461, 'cuisine_name': 'Soul Food'}},
  {'cuisine': {'cuisine_id': 267, 'cuisine_name': 'South African'}},
  {'cuisine': {'cuisine_id': 972, 'cuisine_name': 'South American'}},
  {'cuisine': {'cuisine_id': 471, 'cuisine_name': 'Southern'}},
  {'cuisine': {'cuisine_id': 966, 'cuisine_name': 'Southwestern'}},
  {'cuisine': {'cuisine_id': 89, 'cuisine_name': 'Spanish'}},
  {'cuisine': {'cuisine_id': 141, 'cuisine_name': 'Steak'}},
  {'cuisine': {'cuisine_id': 177, 'cuisine_name': 'Sushi'}},
  {'cuisine': {'cuisine_id': 997, 'cuisine_name': 'Taco'}},
  {'cuisine': {'cuisine_id': 190, 'cuisine_name': 'Taiwanese'}},
  {'cuisine': {'cuisine_id': 179, 'cuisine_name': 'Tapas'}},
  {'cuisine': {'cuisine_id': 163, 'cuisine_name': 'Tea'}},
  {'cuisine': {'cuisine_id': 964, 'cuisine_name': 'Teriyaki'}},
  {'cuisine': {'cuisine_id': 150, 'cuisine_name': 'Tex-Mex'}},
  {'cuisine': {'cuisine_id': 95, 'cuisine_name': 'Thai'}},
  {'cuisine': {'cuisine_id': 93, 'cuisine_name': 'Tibetan'}},
  {'cuisine': {'cuisine_id': 142, 'cuisine_name': 'Turkish'}},
  {'cuisine': {'cuisine_id': 451, 'cuisine_name': 'Ukrainian'}},
  {'cuisine': {'cuisine_id': 308, 'cuisine_name': 'Vegetarian'}},
  {'cuisine': {'cuisine_id': 641, 'cuisine_name': 'Venezuelan'}},
  {'cuisine': {'cuisine_id': 99, 'cuisine_name': 'Vietnamese'}}]}